button {
  font-size: 3rem;
  padding: 5px 20px;
  border: 1px solid rgb(156, 159, 169);
  border-radius: 7px;
  background-color: rgba(216, 222, 226, 0.774);
}

input {
  font-size: 3rem;
  padding: 5px 20px;
  border: 1px solid rgb(156, 159, 169);
  border-radius: 7px;
}

li {
  font-size: 3rem;
}
